{% extends "web_page/layout.html" %}

{% block body %}

<div class="container">
    <h2 class="my-4">{{ book.title }}</h2>
    <div class="search-container my-4">
    <input type="text" id="searchBar" placeholder="Претрага стихова" class="form-control">
</div>
    {% for verse in verses %}
    <div class="verse">
        <p>
            <strong class="chapter-verse">{{ verse.chapter }}:{{ verse.verse_number }}</strong>
            <span class="verse-text">{{ verse.verse }}</span>
        </p>
    </div>
    {% endfor %}
</div>

<script>
    document.getElementById('searchBar').addEventListener('input', function() {
        const searchText = this.value.toLowerCase();
        const verses = document.querySelectorAll('.verse');
        verses.forEach(verse => {
            const verseText = verse.textContent.toLowerCase();
            if (verseText.includes(searchText)) {
                verse.style.display = '';
            } else {
                verse.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}