{% extends "web_page/layout.html" %}
{% load static %}

{% block body %}
<h2 class="my-4 unselectable" id="bookTitle">{{ book.title }}</h2>

<!-- Add a hidden element to store the book ID -->
<div id="book-data" data-book-id="{{ book.id }}"></div>

<div class="controls">
    <!-- Add checkbox for showing entire chapter -->
    <div class="search-and-checkbox">
        <div>
            <label for="showChapter">
                <input type="checkbox" id="showChapter">
            </label>
        </div>
    </div>

    <div class="search-container">
        <input type="text" id="searchBar" placeholder="Претрага стихова">
        <!-- Add "i" button with tooltip -->
        <button id="searchInfo" class="info-button" aria-label="Search Help">i</button>
        <div id="searchTooltip" class="tooltip">
            <strong>Оператори претраге:</strong><br>
            - Користи <code>&</code> за И (нпр., <code>фарисеј&садукеј</code>).<br>
            - Користи <code>|</code> за ИЛИ (нпр., <code>фарисеј|садукеј</code>).<br>
            - Користи <code>!</code> за НЕ (нпр., <code>!фарисеј</code>).<br>
        </div>
    </div>
</div>

<!-- Verses container with scrollbar -->
<div class="verses-container">
    <div id="verses"></div>
</div>

{% if user.is_authenticated %}
<div id="floating-box">
    <div id="header" class="unselectable">Алати</div>
    <button id="highlight">Подвуци</button>
    <button id="comment">Коментариши</button>
    <button id="quote">Цитирај</button>
    <button id="bookmark">Означи</button>
</div>
{% endif %}

<!-- Link to the external JavaScript file -->
<script src="{% static 'web_page/scripts.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'web_page/toolbox.js' %}"></script>
{% endif %}

{% endblock %}