{% extends "web_page/layout.html" %}
{% load static %}

{% block body %}
<h2 class="my-4 unselectable">Упоредно читање</h2>
<div class="controls">
    <div>
        <label for="book1" class="unselectable">Књ. 1:</label>
        <select id="book1">
            <option value="">--Одабери књигу--</option>
            {% for book in books %}
            <option value="{{ book.id }}">{{ book.title }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="book2" class="unselectable">Књ. 2:</label>
        <select id="book2">
            <option value="">--Одабери књигу--</option>
            {% for book in books %}
            <option value="{{ book.id }}">{{ book.title }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="showChapter">
            <input type="checkbox" id="showChapter">
        </label>
    </div>

    <div class="search-container">
        <input type="text" id="searchBar" placeholder="Претрага стихова">
        <!-- Add "i" button with tooltip -->
        <button id="searchInfo" class="info-button" aria-label="Search Help">i</button>
        <div id="searchTooltip" class="tooltip">
            <strong>Оператори претраге:</strong><br>
            - Користи <code>&</code> за И (нпр., <code>фарисеј&садукеј</code>).<br>
            - Користи <code>|</code> за ИЛИ (нпр., <code>фарисеј|садукеј</code>).<br>
            - Користи <code>!</code> за НЕ (нпр., <code>!фарисеј</code>).<br>
        </div>
    </div>
</div>

<div class="verses-container">
    <div id="verses1"></div>
    <div id="verses2"></div>
</div>

{% if user.is_authenticated %}
<div id="floating-box">
    <div id="header">Алати</div>
    <button id="highlight">Подвуци</button>
    <button id="comment">Коментариши</button>
    <button id="quote">Цитирај</button>
    <button id="bookmark">Означи</button>
</div>
{% endif %}

<!-- Link to the external JavaScript file -->
<script src="{% static 'web_page/scripts.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'web_page/toolbox.js' %}"></script>
{% endif %}
{% endblock %}