{% extends "web_page/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="my-4 unselectable">Књиге Светог писма</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="unselectable">Бр.</th>
                    <th scope="col" class="unselectable">Скраћеница</th>
                    <th scope="col" class="unselectable">Назив</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <th scope="row" class="unselectable">{{ forloop.counter }}</th>
                    <td>{{ book.acronym }}</td>
                    <td>{{ book.title }}</td>
                    <td><a href="{% url 'show_book' book_id=book.id %}" class="btn btn-outline-primary"><i class='fas fa-book-medical'></i></a></td>          
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}