{% extends "web_page/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="my-4">Књиге Светог писма</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Бр.</th>
                    <th scope="col">Скраћеница</th>
                    <th scope="col">Назив</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ book.acronym }}</td>
                    <td>{{ book.title }}</td>
                    <td><a href="{% url 'show_book' book_id=book.id %}" class="btn btn-outline-primary">📖</a></td>          
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}