{% extends "web_page/layout.html" %}
{% load static %}

{% block body %}

<h2>Насумични стих</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body text-center">
                    <div id="verse-container">
                        <p class="lead" id="verse-text">Учитава се...</p>
                        <p id="verse-reference";></p>
                    </div>
                    <button id="new-verse-btn" class="btn btn-primary">
                        <i class='fas fa-dice'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="{% static 'web_page/randomverse.js' %}"></script>

{% endblock %}
