{% extends "web_page/layout.html" %}
{% load static %}

{% block body %}
<div class="container">

    <h2 class="my-4 unselectable">Мој профил</h2>

    <h3 class="my-4 unselectable">Лични подаци</h2>    
        <p><strong>Корисничко име:</strong> {{ request.user.username }}</p>
        <p><strong>Адреса електронске поште:</strong> {{ request.user.email }}</p>
        <p><strong>Члан од:</strong> {{ request.user.date_joined|date:"d. m. Y." }}</p>

    <h3 class="my-4 unselectable">Статистика</h2>    
    
    <div class="books-grid">
        <div class="book-card">
            <div class="book-card-inner">
                <button class="book-btn bookmark{% if read_books != 0 %}-opened{% endif %}">
                    <i class="fas fa-book-medical"></i>
                </button>
                
                    <h4>{{ read_books }}</h4>
            </div>
        </div>
        <div class="book-card">
            <div class="book-card-inner">
                <button class="book-btn bookmark{% if comments != 0 %}-opened{% endif %}">
                    <i class="fas fa-comment"></i>
                </button>
                
                    <h4>{{ comments }}</h4>
            </div>
        </div>
        <div class="book-card">
            <div class="book-card-inner">
                <button class="book-btn bookmark{% if bookmarks != 0 %}-opened{% endif %}">
                    <i class="fas fa-bookmark"></i>
                </button>
                
                    <h4>{{ bookmarks }}</h4>
            </div>
        </div>
        <div class="book-card">
            <div class="book-card-inner">
                <button class="book-btn bookmark{% if highlights != 0 %}-opened{% endif %}">
                    <i class="fas fa-highlighter"></i>
                </button>
                
                    <h4>{{ highlights }}</h4>
            </div>
        </div>
    </div>

    <h3 class="my-4 unselectable">Сигурност</h2>    
    <p><a href="{% url 'password_reset' %}">Ресетуј лозинку</a></p>

</div>
{% endblock %}