{% extends "web_page/layout.html" %}
{% load static %}

{% block body %}

<h2 id="verse-reference">{{ verse.book.acronym }} {{ verse.chapter_mask }}{% if verse.verse_number != 0 %}{% if verse.verse_number_mask %}:{% endif %}{{ verse.verse_number_mask }}{% endif %}</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body text-center">
                    <div id="verse-container">
                        <p class="lead" id="verse-text">{{ verse.verse }}</p>
                    </div>
                    <button id="comment-btn" class="btn btn-primary">
                        <i class='fas fa-comment'></i>
                    </button>
                    {% if user.is_authenticated %}
                    <button id="save-or-remove-bookmark-btn" class="btn btn-primary">
                    </button>
                    <button id="quote-btn" class="btn btn-primary">
                        <i class='fas fa-quote-right'></i>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{{ verse.book.id|json_script:"book_id" }}
{{ verse.chapter|json_script:"chapter" }}
{{ verse.verse_number|json_script:"verse_number" }}
{{ is_bookmarked|json_script:"is_bookmarked" }}
{{ comment_text|json_script:"comment_text" }}
<script type="module" src="{% static 'web_page/viewverse.js' %}"></script>

{% endblock %}
