{% extends "web_page/layout.html" %}

{% block body %}
<h2>Унесите нову лозинку</h2>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
          <div class="error">{{ form.new_password1.errors }}</div>
      {% endif %}
  </div>

  <div class="form-group">
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
          <div class="error">{{ form.new_password2.errors }}</div>
      {% endif %}
  </div>

  <button type="submit" class="btn btn-primary">Поставите нову лозинку</button>
</form>
{% endblock %}
